@import "tailwindcss";

/* Hide scrollbar but allow scrolling */
.scroll-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  
  .scroll-hidden {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }
  